share/xml/CFS-Simulation/Schemas/CFS_Documentation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.cfs++.org/simulation"
            xmlns="http://www.cfs++.org/simulation"
            xmlns:cfs="http://www.cfs++.org/simulation"
            elementFormDefault="qualified">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">
      Coupled Field Solver project CFS++
      Schema description for tags needed to document simulations
    </xsd:documentation>
  </xsd:annotation>

  <xsd:complexType name="DT_Documentation">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Tag for incorporating a documentation directly into the XML
        simulation description.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="title" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Title of the simulation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="authors" minOccurs="1" maxOccurs="1" type="DT_DocAuthorsList">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Authors of this simulation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="date" minOccurs="1" maxOccurs="1"
                   type="xsd:date" default="2009-10-31">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Date when this simulation was created.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="keywords" minOccurs="0" maxOccurs="1" type="DT_DocKeywordList">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Keywords for identifying certain topics.
            Add more keywords in share/xml/CFS-Simulation/Schemas/CFS_Documentation.xsl
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="references" minOccurs="0" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            What literature has been used to create this simulation?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="isVerified" minOccurs="0" maxOccurs="1" type="DT_CFSBool">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Is this a verified example, i.e. an analytical solution or measured
            values (yes), or is this just a "functional" example which ensures the 
            operability of a certain feature (no)?
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="description" minOccurs="1" maxOccurs="1">
        <xsd:annotation>
          <xsd:documentation xml:lang="en">
            Detailed description of the current simulation.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="DT_DocAuthorsList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Type for a list of authors
      </xsd:documentation>
    </xsd:annotation>
    
    <xsd:sequence>
      <xsd:element name="author" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="DT_DocKeywordList">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Type for a list of keywords
      </xsd:documentation>
    </xsd:annotation>

    <xsd:sequence>
      <xsd:element name="keyword" minOccurs="0" maxOccurs="unbounded"
                   type="DT_DocAllowedKeywords"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="DT_DocAllowedKeywords">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">
        Restriction of string type with allowed keywords. This type has to
        extended as needed.
      </xsd:documentation>
    </xsd:annotation>

    <xsd:restriction base="xsd:string">
      
      <!-- ========================================================== -->
      <!--  Analysis Related Keywords                                 -->
      <!-- ========================================================== -->
      <xsd:enumeration value="static"/>
      <xsd:enumeration value="transient"/>
      <xsd:enumeration value="harmonic"/>
      <xsd:enumeration value="eigenFrequency"/>
      <xsd:enumeration value="buckling"/>
      <xsd:enumeration value="eigenValue"/>
      <xsd:enumeration value="multiSequence"/>
      <xsd:enumeration value="restart"/>
      <xsd:enumeration value="cfsdat"/>
      
      <!-- ========================================================== -->
      <!--  Physic Related Keywords                                   -->
      <!-- ========================================================== -->
      
      <!-- Acoustic -->
      <xsd:enumeration value="acoustic"/>
      <xsd:enumeration value="temperature"/>
      <xsd:enumeration value="abc"/>
      <xsd:enumeration value="pml"/>
      <xsd:enumeration value="aeroacoustics"/>
      
      <!-- Water waves -->
      <xsd:enumeration value="waterWaves"/>

      <!-- electric conduction -->
      <xsd:enumeration value="electricConduction"/>

      <!-- quasistatic electric field -->
      <xsd:enumeration value="elecQuasistatic"/>
      
      <!-- Electrostatic -->
      <xsd:enumeration value="electrostatic"/>
      
      <!-- Fluid -->
      
      <!-- Heat / Thermal -->
      <xsd:enumeration value="heatConduction"/>
      <xsd:enumeration value="volumeSrc"/>
      
      <!-- Magnetic -->
      <xsd:enumeration value="magneticNodal"/>
      <xsd:enumeration value="magneticScalar"/>
      <xsd:enumeration value="magneticEdge"/>
      <xsd:enumeration value="biot-savart"/>
      <xsd:enumeration value="coil"/>
      <xsd:enumeration value="magnet"/>
      <xsd:enumeration value="magForceMaxwell"/>
      <xsd:enumeration value="darwin approximation"/>
      <xsd:enumeration value="capacitor"/>
      
      <!-- Mechanic -->
      <xsd:enumeration value="mechanic"/>
      <xsd:enumeration value="prestress"/>
      <xsd:enumeration value="shell elements"/>

      <!-- Flow -->
      <xsd:enumeration value="flow"/>
      <xsd:enumeration value="CFD"/>
      <xsd:enumeration value="FluidMechPerturbedPDE"/>   
      
      <!-- Smooth -->
      <xsd:enumeration value="smooth"/>    
      
      <!-- ========================================================== -->
      <!--  Coupling Related Keywords                                 -->
      <!-- ========================================================== -->
      <xsd:enumeration value="electrostatic-mechanic"/>
      <xsd:enumeration value="magneto-mechanic"/>
      <xsd:enumeration value="magneto-striction"/>
      <xsd:enumeration value="mechanic-acoustic"/>
      <xsd:enumeration value="piezo"/>
      <xsd:enumeration value="thermo-mechanic"/>
      <xsd:enumeration value="elecConduction - heat" />
      
      <!-- ========================================================== -->
      <!--  General Feature Keywords                                  -->
      <!-- ========================================================== -->
      <xsd:enumeration value="complex material parameters"/>
      <xsd:enumeration value="damping"/>
      <xsd:enumeration value="nonlinear"/>
      <xsd:enumeration value="hysteresis"/>
      <xsd:enumeration value="linesearch"/>
      
      <!-- ========================================================== -->
      <!--  Approximation Related Keywords                            -->
      <!-- ========================================================== -->
      <xsd:enumeration value="mixed fem"/>
      <xsd:enumeration value="spectral fem"/>
      <xsd:enumeration value="p-FEM-Legendre"/>
      
      <!-- ========================================================== -->
      <!--  Optimization Related Keywords                             -->
      <!-- ========================================================== -->
      <xsd:enumeration value="optimization"/>      
      <xsd:enumeration value="filter"/>      
      <xsd:enumeration value="SIMP"/>      
      <xsd:enumeration value="mathematical_limit_homogenization"/>
      <xsd:enumeration value="snopt"/>      
      <xsd:enumeration value="shape_optimization"/>
      <xsd:enumeration value="tensor_tracking"/>
      
      <!-- ========================================================== -->
      <!--  Solver Related Keywords                                   -->
      <!-- ========================================================== -->
      <!-- this are solver keywords -->
      <xsd:enumeration value="solver"/>
      <xsd:enumeration value="static condensation"/>
      <xsd:enumeration value="elimination"/>
      <xsd:enumeration value="eigenvalue"/>
      <xsd:enumeration value="direct_solver"/>
      <xsd:enumeration value="iterative_solver"/>
      <xsd:enumeration value="cuda"/>
      
      <!-- ========================================================== -->
      <!--  Nonmatching Grid Related Keywords                         -->
      <!-- ========================================================== -->
      <xsd:enumeration value="lagrange multiplier"/>
      <xsd:enumeration value="mortar fem"/>
      <xsd:enumeration value="nonmatching grids"/>
      <xsd:enumeration value="crosspoints"/>
      <xsd:enumeration value="dual LM"/>
      <xsd:enumeration value="grid projection"/>
      <xsd:enumeration value="intersection operations"/>
      <xsd:enumeration value="wire baskets"/>
      <xsd:enumeration value="automatic interface determination"/>
      
      <!-- ========================================================== -->
      <!--  File-IO Related Keywords                                  -->
      <!-- ========================================================== -->
      <xsd:enumeration value="input"/>
      <xsd:enumeration value="output"/>
      <xsd:enumeration value="file format"/>
      <xsd:enumeration value="ensight"/>
      <xsd:enumeration value="hdf5"/>
      <xsd:enumeration value="cgns"/>
      
      <!-- ========================================================== -->
      <!--  CFSdat filter Related Keywords                            -->
      <!-- ========================================================== -->
      <xsd:enumeration value="interpolation"/>
      <xsd:enumeration value="derivative"/>
      
    </xsd:restriction>
  </xsd:simpleType>
  
</xsd:schema>
